<div class="open-accessibility-cursor-workaround"></div>
<div class="open-accessibility open-accessibility-collapsed">
    <div class="open-accessibility-container">

        <div class="open-accessibility-expand-button">
            @@include('../svgs/expand.svg')
        </div>

        <div class="open-accessibility-menu">
            <div class="open-accessibility-close-button">
                @@include('../svgs/close.svg')                
            </div>

            <div class="open-accessibility-menu-button open-accessibility-zoom-out-button">
                @@include('../svgs/zoom-out.svg')
                <span data-lang="zoom-out">הקטן</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-zoom-in-button">
                @@include('../svgs/zoom-in.svg')
                <span data-lang="zoom-in">הגדל</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-invert-button">
                @@include('../svgs/invert.svg')                
                <span data-lang="invert">היפוך צבעים</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-cursor-button">
                @@include('../svgs/cursor.svg')
                <span data-lang="bigger-cursor">עכבר גדול</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-brightness-button">
                @@include('../svgs/brightness.svg')                
                <span data-lang="brightness">בהירות</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-contrast-button">
                @@include('../svgs/contrast.svg')
                <span data-lang="contrast">ניגודיות</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-monochrome-button">
                @@include('../svgs/monochrome.svg')
                <span data-lang="grayscale">גווני אפור</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-reset-button">
                @@include('../svgs/revert.svg')
                <span data-lang="reset">בטל שינויים</span>
            </div>


            <div class="open-accessibility-menu-footer">
                powered with 💗 by <a href="https://github.com/jossef/open-accessability" target="_blank">Open Accessibility</a>
            </div>


        </div>


    </div>
</div>